$color-light-grey:  #f7f7f7;
$color-white: #fff;

$color-primary-1: #667eea;
$color-primary-2: #764ba2;

$color-secondary-1: #283048;
$color-secondary-2: #859398;

$color-grey-dark: #777;

$color-background-anilist: #152232;
$color-background-mal: #2E51A2;

$default-font-size: 1.6rem;