.cards {
  display: flex;
  flex-direction: row;
  background: $color-white;
  border-radius: 1rem;
  border: 2px solid $color-grey-dark;
  padding: .8rem;
  margin: 2rem;
  gap: 2rem;
  align-items: flex-start;
  width: 90%;
  box-shadow: 0 1rem 2rem rgba($color-primary-1, .3);
  transition: all .2s;

  &:hover {
    transform: scale(1.05);
  }

  .cards__desc {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    flex: 1;

    &--title {
      display: inline-block;
      width: fit-content;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.5;
      margin: 2rem;

      &:hover {
        background-image: linear-gradient(to right, $color-primary-1, $color-primary-2);
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(1.04);
      }
    }

    &--description {
      font-size: $default-font-size;
      font-weight: 300;
      flex: 0 1;
    }

    &--genres {
      display: flex;
      flex-wrap: wrap;
      gap: .8rem;

      &--tag {
        background: linear-gradient(to right, $color-primary-1, $color-primary-2);
        color: $color-white;
        padding: .8rem 1rem;
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: 700;
      }
    }

    &--info {
      margin-top: .8rem;
      display: flex;
      flex-wrap: wrap;
      gap: .8rem;
      padding-bottom: 1rem;

      &--tag {
        background: linear-gradient(to right, $color-secondary-1, $color-secondary-2);
        color: $color-white;
        padding: .8rem 1rem;
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: 700;
      }

      &--tag-anilist {
        background: $color-background-anilist;
        padding: .3rem 1rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba($color-background-anilist, .2);
        }

        &:active {
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba($color-background-anilist, .2);
        }
      }

      &--tag-mal {
        background: $color-background-mal;
        padding: .3rem 1rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba($color-background-mal, .2);
        }

        &:active {
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba($color-background-mal, .2);
        }
      }
    }
  }

  .cards__img {
    max-width: 25rem;

    & img {
      width: 100%;
      border-radius: .5rem;
      overflow: hidden;
    }
  }
}